**pandas** is an open source library in python for data analysis.

In [ ]:
# Installing pandas 
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
# Importing pandas
import pandas as pd

**Data structures in pandas:**
1. Series
2. DataFrame

Series:
Series is a 1D array which can hold data of any type.

**Objective 1: Create series from the list**

In [ ]:
list_data = ["apple","mango","kiwi","jackfruit","watermelon"]

In [ ]:
series_1 = pd.Series(list_data)

In [ ]:
series_1

0         apple
1         mango
2          kiwi
3     jackfruit
4    watermelon
dtype: object

Series() takes another argument called index which is optional.
In the above example, we did not pass index parameter, that is why we got the default index values starting from 0.

**Objective 2: Create series from list with index ['a','b','c','d','e'].**

In [ ]:
series_2 = pd.Series(list_data, index=['a','b','c','d','e'])

In [ ]:
series_2

a         apple
b         mango
c          kiwi
d     jackfruit
e    watermelon
dtype: object

What if we don't want to write complete alphabet list to set the index? Here's a hack!
We can use string module in python.

In [ ]:
import string

In [ ]:
help(string)

Help on module string:

NAME
    string - A collection of string constants.

MODULE REFERENCE
    https://docs.python.org/3.7/library/string

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    Public module variables:

    whitespace -- a string containing all ASCII whitespace
    ascii_lowercase -- a string containing all ASCII lowercase letters
    ascii_uppercase -- a string containing all ASCII uppercase letters
    ascii_letters -- a string containing all ASCII letters
    digits -- a string containing all ASCII decimal digits
    hexdigits -- a string containing all ASCII hexadecimal digits
    octdigits -- a string containing all ASCII octal digits
    punctuation -- a string containing all ASCII punctuation characters
    printable -- a string containing all ASCII characters considered printable

CLASSES
    builtins.object
        Formatter
        Template

    class Formatter(builtins.object)
     |  Methods defined here:
     |
     |  check_unused_args(self, used_args, args, kwargs)
     |
     |  convert_field(self, value, conversion)
     |
     |  format(*args, **kwargs)
     |
     |  format_field(self, value, format_spec)
     |
     |  get_field(self, field_name, args, kwargs)
     |      # given a field_name, find the object it references.
     |      #  field_name:   the field being looked up, e.g. "0.name"
     |      #                 or "lookup[3]"
     |      #  used_args:    a set of which args have been used
     |      #  args, kwargs: as passed in to vformat
     |
     |  get_value(self, key, args, kwargs)
     |
     |  parse(self, format_string)
     |      # returns an iterable that contains tuples of the form:
     |      # (literal_text, field_name, format_spec, conversion)
     |      # literal_text can be zero length
     |      # field_name can be None, in which case there's no
     |      #  object to format and output
     |      # if field_name is not None, it is looked up, formatted
     |      #  with format_spec and conversion and then used
     |
     |  vformat(self, format_string, args, kwargs)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class Template(builtins.object)
     |  Template(template)
     |
     |  A string class for supporting $-substitutions.
     |
     |  Methods defined here:
     |
     |  __init__(self, template)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  safe_substitute(*args, **kws)
     |
     |  substitute(*args, **kws)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  braceidpattern = None
     |
     |  delimiter = '$'
     |
     |  flags = <RegexFlag.IGNORECASE: 2>
     |
     |  idpattern = '(?a:[_a-z][_a-z0-9]*)'
     |
     |  pattern = re.compile('\n    \\$(?:\n      (?P<escaped>\\$)...ced>(?a:[...

FUNCTIONS
    capwords(s, sep=None)
        capwords(s [,sep]) -> string

        Split the argument into words using split, capitalize each
        word using capitalize, and join the capitalized words using
        join.  If the optional second argument sep is absent or None,
        runs of whitespace characters are replaced by a single space
        and leading and trailing whitespace are removed, otherwise
        sep is used to split and join the words.

DATA
    __all__ = ['ascii_letters', 'ascii_lowercase', 'ascii_uppercase', 'cap...
    ascii_letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
    ascii_lowercase = 'abcdefghijklmnopqrstuvwxyz'
    ascii_uppercase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    digits = '0123456789'
    hexdigits = '0123456789abcdefABCDEF'
    octdigits = '01234567'
    printable = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTU...
    punctuation = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    whitespace = ' \t\n\r\x0b\x0c'

FILE
    /usr/lib/python3.7/string.py

We can use public module variables like **string.ascii_lowercase**

**Objective 3: Create series from list with index starting from 'a'.**

In [ ]:
index = [char for char in string.ascii_lowercase]
index[:5]

['a', 'b', 'c', 'd', 'e']

In [ ]:
series_3 = pd.Series(list_data,index=index[:len(list_data)])

In [ ]:
series_3

a         apple
b         mango
c          kiwi
d     jackfruit
e    watermelon
dtype: object

**Objective 4: Create a series from a scalar value, eg. 10**

In [ ]:
series_4 = pd.Series(10)

In [ ]:
series_4

0    10
dtype: int64

In [ ]:
series_4 = pd.Series(10,index=[1,2,3,4,5])

In [ ]:
series_4

1    10
2    10
3    10
4    10
5    10
dtype: int64

**Objective 5: Get the index values from the series**

In [ ]:
series_1.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
series_2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
series_3.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
series_4.index

Int64Index([1, 2, 3, 4, 5], dtype='int64')

**Objective 6: Create series from the dictionary**

In [ ]:
d = {'a':'apple','b':'bat','c':'cat','d':'dog','e':'elephant'}

In [ ]:
series_5 = pd.Series(d)

In [ ]:
series_5

a       apple
b         bat
c         cat
d         dog
e    elephant
dtype: object

What if we pass the index parameter as well? Let's give it a try!

In [ ]:
series_5 = pd.Series(d,index=['a','d','b','c',5])

In [ ]:
series_5

a    apple
d      dog
b      bat
c      cat
5      NaN
dtype: object

If we observe carefully, the keys in the dictionary serve as an index to the value. That's why, for the index value 5, we got NaN value.

**Operating on Series**

**Objective 7: Indexing and slicing with Series**

We can access the series elements similar to that we do using dictionary in python. In case of series, we can access the elements using index value.

In [ ]:
series_1[0]

'apple'

In [ ]:
series_1[:4]

0        apple
1        mango
2         kiwi
3    jackfruit
dtype: object

In [ ]:
series_3[:4:2]

a    apple
c     kiwi
dtype: object

Now, let's try out some statistical functions on the numerical series!

**Objective 8: Statistical functions on the numerical series**

In [ ]:
series_6 = pd.Series([10,20,30,40,50,60,70,80,90,100,80,50,70,70,40,30,40,50,40])
series_6

0      10
1      20
2      30
3      40
4      50
5      60
6      70
7      80
8      90
9     100
10     80
11     50
12     70
13     70
14     40
15     30
16     40
17     50
18     40
dtype: int64

In [ ]:
series_6.sum()

1020

In [ ]:
series_6.mean()

53.68421052631579

In [ ]:
series_6.mode()

0    40
dtype: int64

In [ ]:
series_6.max()

100

In [ ]:
series_6.min()

10

In [ ]:
series_6.sort_values()

0      10
1      20
2      30
15     30
16     40
14     40
18     40
3      40
17     50
11     50
4      50
5      60
12     70
13     70
6      70
7      80
10     80
8      90
9     100
dtype: int64

In [ ]:
series_6.sort_index()

0      10
1      20
2      30
3      40
4      50
5      60
6      70
7      80
8      90
9     100
10     80
11     50
12     70
13     70
14     40
15     30
16     40
17     50
18     40
dtype: int64

**DataFrame**
DataFrame is a 2D data structure in pandas similar to table with rows and columns, spreadsheet or SQL table.

We can create a dataframe from dictionary, list, series, array, or from another dataframe itself.

**Objective 9: Create a dataframe from dictionary of series.**

We will use the series_6 and series_1 to create a dataframe. All the series_6 values will be under the column name "column1" and that for series_1 with column name "column2".

In [ ]:
data ={
    "column1": series_6,
    "column2": series_1
}

To create a dataframe, we use DataFrame() in pandas

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

    column1     column2
0        10       apple
1        20       mango
2        30        kiwi
3        40   jackfruit
4        50  watermelon
5        60         NaN
6        70         NaN
7        80         NaN
8        90         NaN
9       100         NaN
10       80         NaN
11       50         NaN
12       70         NaN
13       70         NaN
14       40         NaN
15       30         NaN
16       40         NaN
17       50         NaN
18       40         NaN

If two series have different index and we want to create a dataframe out of it, let's try for this. We will create a dataframe from series_1 and series_5.

In [ ]:
data ={
    "column1": series_1,
    "column2": series_5
}

In [ ]:
df= pd.DataFrame(data)

In [ ]:
df

      column1 column2
0       apple     NaN
1       mango     NaN
2        kiwi     NaN
3   jackfruit     NaN
4  watermelon     NaN
5         NaN     NaN
a         NaN   apple
b         NaN     bat
c         NaN     cat
d         NaN     dog

**Objective 10: Create a dataframe from list of dictionaries**

In [ ]:
data = [{'column1':'value1','column2':'value2','column3':'value3'},
        {'column1':'value4','column2':'value5','column3':'value6'},
        {'column1':'value7','column2':'value8','column3':'value9'}]

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

  column1 column2 column3
0  value1  value2  value3
1  value4  value5  value6
2  value7  value8  value9

**Alternative way to create dataframe from list of dictionaries:**

If your data is in format of list of dictionaries:

In [ ]:
# Using the dictionary 'data' we already created
df = pd.DataFrame.from_dict(data, orient='columns')

In [ ]:
df

  column1 column2 column3
0  value1  value2  value3
1  value4  value5  value6
2  value7  value8  value9

If your data is in dictionary format:

dict([(index,[list of values separated by comma])]

In [ ]:
data = dict([(0, ['value1','value2','value3']), 
             (1, ['value4','value5','value6']), 
             (2, ['value7','value8','value9'])])

In [ ]:
df = pd.DataFrame.from_dict(data, orient='index', columns=['column1','column2','column3'])

In [ ]:
df

  column1 column2 column3
0  value1  value2  value3
1  value4  value5  value6
2  value7  value8  value9

**DataFrame Operations**

**Accessing DataFrame columns**

In [ ]:
df['column1']

0    value1
1    value4
2    value7
Name: column1, dtype: object

**Slicing:**

In [ ]:
df['column1'][:2]

0    value1
1    value4
Name: column1, dtype: object

**Create a new column in a dataframe**

In [ ]:
df['column4'] = df['column1'] == 'value1'

In [ ]:
df

  column1 column2 column3  column4
0  value1  value2  value3     True
1  value4  value5  value6    False
2  value7  value8  value9    False

In [ ]:
df['column1'] = df['column1']+" and "+df['column2']

In [ ]:
df

             column1 column2 column3  column4
0  value1 and value2  value2  value3     True
1  value4 and value5  value5  value6    False
2  value7 and value8  value8  value9    False

**Create a new column in dataframe with scalar value 100**

In [ ]:
df['column5'] = 100

In [ ]:
df

             column1 column2 column3  column4  column5
0  value1 and value2  value2  value3     True      100
1  value4 and value5  value5  value6    False      100
2  value7 and value8  value8  value9    False      100

**Delete column 'column1'**

In [ ]:
del df['column1']

In [ ]:
df

  column2 column3  column4  column5
0  value2  value3     True      100
1  value5  value6    False      100
2  value8  value9    False      100

**Delete column 'column4'**

In [ ]:
column4 = df.pop('column4')

In [ ]:
df

  column2 column3  column5
0  value2  value3      100
1  value5  value6      100
2  value8  value9      100

**Insert a new row in dataframe**

In [ ]:
df.loc[len(df.index)] = ['value10','value11','value12']

In [ ]:
df

   column2  column3  column5
0   value2   value3      100
1   value5   value6      100
2   value8   value9      100
3  value10  value11  value12

**Insert data at the specific index withot replacing the data in dataframe**

Here, we will insert a row at index 2 in our existing dataframe. We will use concat() in pandas to achieve this.

In [ ]:
new_data = pd.DataFrame({"column2": 'value13', "column3": 'value14', "column5": 200}, index=[3])
df = pd.concat([df.iloc[:2], new_data, df.iloc[3:]]).reset_index(drop=True)

In [ ]:
df

   column2  column3  column5
0   value2   value3      100
1   value5   value6      100
2  value13  value14      200
3  value10  value11  value12

**Print dataframe column names**

In [ ]:
df.columns

Index(['column2', 'column3', 'column5'], dtype='object')

In [ ]:
list(df.columns)

['column2', 'column3', 'column5']

**Transposing the dataframe**

In [ ]:
df = pd.DataFrame.from_dict(data, orient='index', columns=['column1','column2','column3'])

In [ ]:
df

  column1 column2 column3
0  value1  value2  value3
1  value4  value5  value6
2  value7  value8  value9

In [ ]:
df.T

              0       1       2
column1  value1  value4  value7
column2  value2  value5  value8
column3  value3  value6  value9

**Print first 2 rows of the dataframe**

In [ ]:
df

  column1 column2 column3
0  value1  value2  value3
1  value4  value5  value6
2  value7  value8  value9

In [ ]:
df.head(2)

  column1 column2 column3
0  value1  value2  value3
1  value4  value5  value6

**Print last 2 rows of dataframe**

In [ ]:
df.tail(2)

  column1 column2 column3
1  value4  value5  value6
2  value7  value8  value9

**Test if dataframe is empty**

In [ ]:
df.empty

False

Now, let's define a new dataframe and do some statistical analysis on it.

In [ ]:
data =  pd.DataFrame(
    {"col1": [10, 12, 8, 5.0, 15], "col2": [16, 87, 300, 25, 52]}
)

In [ ]:
data

   col1  col2
0  10.0    16
1  12.0    87
2   8.0   300
3   5.0    25
4  15.0    52

In [ ]:
data.sum(0)

col1     50.0
col2    480.0
dtype: float64

In [ ]:
data.sum(1)

0     26.0
1     99.0
2    308.0
3     30.0
4     67.0
dtype: float64

In [ ]:
data.mean(0)

col1    10.0
col2    96.0
dtype: float64

In [ ]:
data.mean(1)

0     13.0
1     49.5
2    154.0
3     15.0
4     33.5
dtype: float64

In [ ]:
# Standard Deviation
data.std()

col1      3.807887
col2    117.339252
dtype: float64

In [ ]:
# Cumulative sum
data.cumsum()

   col1  col2
0  10.0    16
1  22.0   103
2  30.0   403
3  35.0   428
4  50.0   480

In [ ]:
# Cumulative Product
data.cumprod()

      col1       col2
0     10.0         16
1    120.0       1392
2    960.0     417600
3   4800.0   10440000
4  72000.0  542880000

In [ ]:
# Cumulative max
data.cummax()

   col1  col2
0  10.0    16
1  12.0    87
2  12.0   300
3  12.0   300
4  15.0   300

In [ ]:
# Cumulative min
data.cummin()

   col1  col2
0  10.0    16
1  10.0    16
2   8.0    16
3   5.0    16
4   5.0    16

In [ ]:
# Quantile
data.quantile()

col1    10.0
col2    52.0
Name: 0.5, dtype: float64

In [ ]:
# Generate descriptive statistics
data.describe()

            col1        col2
count   5.000000    5.000000
mean   10.000000   96.000000
std     3.807887  117.339252
min     5.000000   16.000000
25%     8.000000   25.000000
50%    10.000000   52.000000
75%    12.000000   87.000000
max    15.000000  300.000000

**Read CSV File**

In [ ]:
df = pd.read_csv('sampleSalesData.csv')

**-------------------------CSV Data Analysis-------------------------**

**Print the column names of csv file**

In [ ]:
list(df.columns)

['Region',
 'Country',
 'Item Type',
 'Sales Channel',
 'Order Priority',
 'Order Date',
 'Order ID',
 'Ship Date',
 'Units Sold',
 'Unit Price',
 'Unit Cost',
 'Total Revenue',
 'Total Cost',
 'Total Profit']

**Print first 10 rows of the csv file**

In [ ]:
df.head(10)

                              Region     Country  ...  Total Cost Total Profit
0       Middle East and North Africa       Libya  ...  2224085.18   1468506.02
1                      North America      Canada  ...   274426.74    190526.34
2       Middle East and North Africa       Libya  ...   241840.14    145419.62
3                               Asia       Japan  ...   389039.42    294295.98
4                 Sub-Saharan Africa        Chad  ...    68127.40     23726.45
5                             Europe     Armenia  ...  1115824.08    844085.52
6                 Sub-Saharan Africa     Eritrea  ...   333060.84    251949.96
7                             Europe  Montenegro  ...   261596.16    536038.56
8  Central America and the Caribbean     Jamaica  ...   220778.04    153279.64
9              Australia and Oceania        Fiji  ...   436464.00    303024.00

[10 rows x 14 columns]

**Print last 10 rows of the csv file**

In [ ]:
df.tail(10)

                           Region  ... Total Profit
990            Sub-Saharan Africa  ...     13624.20
991            Sub-Saharan Africa  ...    276932.34
992                        Europe  ...     62436.42
993         Australia and Oceania  ...    840596.34
994                          Asia  ...    275761.20
995  Middle East and North Africa  ...    359733.36
996                        Europe  ...     27607.68
997  Middle East and North Africa  ...    603270.28
998                        Europe  ...   1624319.73
999                        Europe  ...    312545.52

[10 rows x 14 columns]

**Get the total profit for Online and Offline Sales Channel**

In [ ]:
df.groupby("Sales Channel").agg("Total Profit").sum()

Sales Channel
Offline    2.078873e+08
Online     1.833153e+08
Name: Total Profit, dtype: float64

**Get the ItemType list for each Country and count the occurence of each Item Type from the csv file**

In [ ]:
df.groupby(['Country','Item Type']).size()

Country      Item Type
Afghanistan  Baby Food        1
             Cereal           2
             Clothes          2
             Fruits           1
Albania      Baby Food        2
                             ..
Zimbabwe     Beverages        1
             Fruits           3
             Meat             2
             Personal Care    1
             Vegetables       2
Length: 805, dtype: int64

**Get the Total Profit for each Country by the Order Priority from the csv file**

In [ ]:
df.groupby(['Country','Order Priority']).agg('Total Profit').sum()

Country      Order Priority
Afghanistan  C                  730432.51
             M                  634974.59
Albania      C                  636063.84
             H                  505418.78
             L                 1001402.68
                                  ...
Zambia       L                    8492.84
Zimbabwe     C                  225576.22
             H                   14057.53
             L                  199208.77
             M                 1104730.39
Name: Total Profit, Length: 541, dtype: float64

**Get the number of units sold for each Country and item type from the csv file**

In [ ]:
df.groupby(['Country','Item Type']).agg('Units Sold').sum()

Country      Item Type
Afghanistan  Baby Food           80
             Cereal           10367
             Clothes           5771
             Fruits            6433
Albania      Baby Food         9013
                              ...
Zimbabwe     Beverages          851
             Fruits           23367
             Meat             10144
             Personal Care     6684
             Vegetables        6348
Name: Units Sold, Length: 805, dtype: int64

**For each Country and item type and Sales Channel from the csv file**  
Get 

1. number of units sold
2. Total cost
3. Total revenue
4. Total profit

In [ ]:
df.groupby(['Country','Item Type','Sales Channel']).apply(lambda s: pd.Series({
    "Units Sold": s["Units Sold"].sum(),
    'Total Cost': s["Total Cost"].sum(),
    'Total Revenue': s["Total Revenue"].sum(),
    'Total Profit':s["Total Profit"].sum()
}))

                                         Units Sold  ...  Total Profit
Country     Item Type     Sales Channel              ...
Afghanistan Baby Food     Online               80.0  ...       7668.80
            Cereal        Offline            3286.0  ...     291106.74
                          Online             7081.0  ...     627305.79
            Clothes       Offline            2331.0  ...     171188.64
                          Online             3440.0  ...     252633.60
...                                             ...  ...           ...
Zimbabwe    Meat          Offline            4080.0  ...     233376.00
                          Online             6064.0  ...     346860.80
            Personal Care Offline            6684.0  ...     167501.04
            Vegetables    Offline            3195.0  ...     201700.35
                          Online             3153.0  ...     199048.89

[897 rows x 4 columns]

**Format the 'Order Date' and 'Ship Date' to data format 'yyyy-mm-dd'**

In [ ]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [ ]:
df['Order Date']

0     2014-10-18
1     2011-11-07
2     2016-10-31
3     2010-04-10
4     2011-08-16
         ...
995   2010-04-18
996   2011-08-01
997   2011-05-12
998   2016-01-25
999   2014-04-10
Name: Order Date, Length: 1000, dtype: datetime64[ns]

In [ ]:
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [ ]:
df['Ship Date']

0     2014-10-31
1     2011-12-08
2     2016-12-09
3     2010-05-12
4     2011-08-31
         ...
995   2010-04-25
996   2011-09-07
997   2011-06-28
998   2016-02-14
999   2014-05-08
Name: Ship Date, Length: 1000, dtype: datetime64[ns]

**Calculate year-wise profit, average revenue and average cost by Order Date for each Country and Sales Channel**

In [ ]:
df['year'] = pd.DatetimeIndex(df['Order Date']).year

In [ ]:
df.groupby(['Country', 'Sales Channel', 'year']).apply(lambda s: pd.Series({
    'Year-wise Profit':s["Total Profit"].sum(),
    'Average Revenue': s["Total Revenue"].mean(),
    'Average Cost': s["Total Cost"].mean()
}))

                                Year-wise Profit  Average Revenue  Average Cost
Country     Sales Channel year
Afghanistan Offline       2015         291106.74       675930.200    384823.460
                          2017         171188.64       254731.680     83543.040
            Online        2012           7668.80        20422.400     12753.600
                          2013          15503.53        60019.890     44516.360
                          2016         879939.39       916242.450    476272.755
...                                          ...              ...           ...
Zimbabwe    Offline       2012         201700.35       492221.700    290521.350
                          2014         339502.23       460548.745    290797.630
                          2015          13326.66        40379.950     27053.290
                          2016         233376.00      1721311.200   1487935.200
            Online        2014         545909.69      1522046.070   1249091.225

[857 rows x 3 columns]